body {}

header {
  display: flex;
  justify-content: space-between;
  height: 480px;
  margin-bottom: 100px;
  margin-top: 20px;
}

#info-daujourdhui {
  margin-top: 5px;
  width: 20%;
}

#date {
  text-align: center;
  font-size: 20px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 12px;
  padding: 20px;
  background-color: #ffffff;
  width: fit-content;
  margin-bottom: 200px;
}

#jour_nuit {
  max-width: 320px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 12px;
  padding: 25px;
  background-color: #ffffff;
  width: fit-content;
}

.boite-jour-nuit {
  display: flex;
  align-items: center;
}

.image-jour-nuit {
  width: 20%;
  height: 20%;
  margin-right: 10px;
}

#lune {
  display: flex;
  align-items: center;
}

.image-quartier-lune {
  width: 10%;
  height: 20%;
  margin-left: 14px;
  margin-right: 28px;
}

#text-lune {
  text-align: center;
}

#center {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
}

.selection-previsions {
  display: flex;
  justify-content: space-evenly;
}

button {
  max-height: 30px;
}

.image {
  max-width: 80%;
  height: auto;
  display: block;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  animation: image 1s ease;
}

@keyframes image {
  30% {
    transform: scale(1.2);
  }

  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }

  50% {
    transform: rotate(20deg) scale(1.2);
  }

  70% {
    transform: rotate(0deg);
  }

  100% {
    transform: scale(1);
  }
}

#horloge-et-temps {
  margin-top: 30px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#horloge {
  font-size: 40px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 12px;
  background-color: #ffffff;
  padding: 5px;
  width: fit-content;
}

#temp-et-precip {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 12px;
  padding: 20px;
  background-color: #ffffff;
  width: fit-content;
  margin-top: 200px;
}

.thermometre{
  width : auto;
  height: 120px;
  float : left;
  display : flex;

}

.blocTemperature{
  display:flex;
  justify-content: space-evenly;
}

#temperature{
  max-width: 320px;
  padding: 25px;
  background-color: #ffffff;
  display : flex;
  margin-left: 0px;
}

.blocPrecipitation{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#precipitation{
  max-width: 320px;
  padding: 25px;
  background-color: #ffffff;
  display : flex;
  margin-left: 0px;
}

#precipitationImage{
  width : auto;
  height: 70px;
  float : left;
  display : flex;
}

#saint-du-jour {
  width:190px;
  height:168px;
  background:#fff;
  margin:auto;
  border-radius: 12px;
  padding: 0 5px 20px 5px;
  border: 2px solid rgb(0, 0, 0);
}

.panel-primary {
  display: none;
}

#lune {
  margin-top: 25px;
}

@media screen and (max-width: 1080px) {

  header {
    height: auto;
    justify-content: auto;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }

  #info-daujourdhui {
    order: 1;
    width: auto;
  }

  #date {
    margin-bottom: 15px;
  }

  #center {
    order: 3;
  }

  .image {
    margin-top: auto;
  }

  .selection-previsions {
    margin-top: 20px;
  }

  #horloge-et-temps {
    order: 2;
    width: auto;
  }

  #temp-et-precip {
    margin-top: 15px;
  }

  
}

@media screen and (max-width: 700px) {
  header {
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  #info-daujourdhui {
    order: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  center {
  }

  #horloge-et-temps {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 0;
  }

  #horloge {
    max-height: 50px;
  }

  button {
    max-height: fit-content;
  }
}


#lune2 {
  display: flex;
  margin: auto;
}

