body {}

/* Citation du jour */
#evene_webjour {
  background-color: #FFF8DC;
  color: Black;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
}



#date {
  border: 2px solid rgb(0, 0, 0);
  
  border-radius: 12px;
  padding: 5px;
  background-color: #ffffff;
  width: fit-content;
}

#temp-et-precip {
  position: absolute;
  border: 2px solid rgb(0, 0, 0);
  top: 40px;
  right: 40px;
  border-radius: 12px;
  padding: 5px;
  width: 200px;
  background-color: #ffffff;
  width: fit-content;
  margin-top: 100px;
}

#jour_nuit {
  position: absolute;
  border: 2px solid rgb(0, 0, 0);
  top: 300px; 
  border-radius: 12px;
  padding: 5px;
  background-color: #ffffff;
  width: fit-content;
}

#horloge {
  position: absolute;
  top: 40px;
  right: 40px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 12px;
  padding: 5px;
  background-color: #ffffff;
  width: fit-content;
}







.image {    
  margin-top: 50px;
  height: 50vh;
  display: grid;
  place-items: center;
}