body {

}

#date {
  border: 2px solid rgb(0, 0, 0);
  
  border-radius: 12px;
  padding: 5px;
  background-color: #ffffff;
  width:fit-content;
}

#temp-et-precip {
  position: absolute;
  border: 2px solid rgb(0, 0, 0);
  top: 100px; right: 40px;
  border-radius: 12px;
  padding: 5px;
  width: 200px;
  background-color: #ffffff;
  text-align: center;
  
}

#jour_nuit {
  position: absolute;
  border: 2px solid rgb(0, 0, 0);
  top: 300px; 
  border-radius: 12px;
  padding: 5px;
  background-color: #ffffff;
  width:fit-content;
  
}

#horloge {
  position: absolute;
  top: 40px; left: 1300px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 12px;
  padding: 5px;
  background-color: #ffffff;
  width:fit-content;
}



/* Ephéméride */

.fma {
  text-decoration: none;
  font-family : Arial, sans-serif;
  font-size: 9pt;
  color: rgb(255, 255, 255);
  text-align: justify;
  background-color: rgb(190, 63, 63);
}
.fmb {
  text-decoration: none;
  font-family : Arial, sans-serif;
  font-size: 9pt;
  color: rgb(51,2,12);
  text-align: justify;
  background-color: rgb(255, 255, 255);
}



.image {    
  margin-top: 50px;
  height: 50vh;
  display: grid;
  place-items: center;
}